<?xml version="1.0"?>
<launch>
  <include file="$(find scooper_duper)/launch/ur10.launch">
        <arg name="limited" value="true"/>
        <arg name="gaz_world_name" value = "$(find scooper_duper)/launch/empty.world"/> 
  </include>
  <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
        <arg name="limited" value="true"/>
        <arg name="sim" value="true"/>
  </include>
  <include file="$(find scooper_duper)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
  </include>

 
  <node name="scooper_tf_pub" type="scooper_tf_publishers.py" pkg="scooper_duper"/>
</launch>
